{{- /* The release a reader is sent to: the newest version directory that is
       neither the documentation under development nor listed in params.eol.
       False for a product that has none. Takes the product page. */ -}}
{{- $product := . -}}
{{- $newest := false -}}
{{- range partial "func/releases.html" $product -}}
  {{- if not $newest -}}
    {{- if not (in site.Params.eol (strings.TrimPrefix "/" .Path)) -}}
      {{- $newest = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
{{- return $newest -}}
